.orgchart { 
  background-image:none;
  background: white; 
}
/* excluding leaf node */
.orgchart .node:not(:only-child)::after {
  height: 15px;
  background-color: rgba(0,0,0,.8);
}
/* excluding root node */
.orgchart > ul > li > ul li > .node::before {
  height: 15px;
  background-color: rgba(0,0,0,.8);
}

.orgchart .hierarchy::before {
  border-top: 2px solid rgba(0,0,0,.8);
}

.orgchart .node .title {
  background-color: rgba(0,0,0,.8);
}

.orgchart .node .content {
  height: 50px;
  width: 130px;
  word-break: break-word;
  white-space: break-spaces;
  vertical-align: middle;
  display: table-cell;
  font-size: .75rem;
  font-weight: 700;
  border: 1px solid rgba(0,0,0,.8);
  --background: linear-gradient(to bottom right, #f1f1f1, #afafaf);
  background-color: #ffffe0;
  box-shadow: 5px 5px 5px 0 rgb(0 0 0 / 50%);
}

.orgchart .node[data-domain="Market Sales Domain"] .title {
  background-color: rgb(247,161,162);
  border: 1px solid rgba(0,0,0,.8);
}
.orgchart .node[data-domain="Customer Domain"] .title {
  background-color: rgb(246,236,19);
  border: 1px solid rgba(0,0,0,.8);
  color: #000;
}
.orgchart .node[data-domain="Product Domain"] .title {
  background-color: rgb(255,209,115);
  border: 1px solid rgba(0,0,0,.8);
  color: #000;
}
.orgchart .node[data-domain="Resource Domain"] .title {
  background-color: rgb(188,230,247);
  border: 1px solid rgba(0,0,0,.8);
}
.orgchart .node[data-domain="Service Domain"] .title {
  background-color: rgb(125,196,112);
  border: 1px solid rgba(0,0,0,.8);
  color: #000;
}
.orgchart .node[data-domain="Business Partner Domain"] .title {
  background-color: rgb(188,188,217);
  border: 1px solid rgba(0,0,0,.8);
}
.orgchart .node[data-domain="Enterprise Domain"] .title {
  background-color: rgb(211,211,211);
  border: 1px solid rgba(0,0,0,.8);
  color: #000;
}
.orgchart .node[data-domain="Common Domain"] .title {
  background-color: rgb(255,153,204);
  border: 1px solid rgba(0,0,0,.8);
}
.orgchart .node[data-domain="Integration Domain"] .title {
  background-color: rgb(210,180,140);
  border: 1px solid rgba(0,0,0,.8);
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 5px;
  margin-inline-end: 0px;
}

.elementlink {
  cursor: pointer;
}

.parentlink {
  color: navy;
  text-decoration: underline;
}

.leftbar {
  position: absolute;
  top: 0px;
  left: 0;
  width: 20%;
  height: 100%;
  background-color: #323232;
  --padding-top: 5em;
  z-index: 0;
  text-decoration: none;
  color: white;
  overflow: overlay;
}

.leftbaritem {
  padding-left: 1em;
  font-size: 90%;
}
.leftbar a {
  text-decoration: none;
  color: white;
}
.leftbar .title {
  background-color: #161616;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  width: 100%;
  margin-inline-start: 0px;
  margin-block-start: 0em;
}

.content_body {
  position: absolute;
  top: 0px;
  left: 21%;
  width: 79%;
  height: 100%;
  overflow: overlay;
}
.content_body > div {
  padding-right: 5%;
}

table {
  border-color: grey;
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  margin-bottom: 1rem;
  overflow: visible;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
tr {
  border-top: 1px solid #ccc;
  display: table-row;
}
tr:nth-child(2n) {
  background-color: #f8f8f8;
}
th {
  border: 1px solid #ddd;
  padding: 6px 13px;
  font-weight: 700;
}
td {
  border: 1px solid #ddd;
  padding: 6px 13px;
  display: table-cell;
}

.message span.remark {
  display: none;
}
.message:hover span.remark {
  background: none repeat scroll 0 0 #EEFFEE;
  border: 1px solid #CCCCCC;
  color: #000000;
  display: block;
  margin: 0.5em;
  padding: 0.5em;
  position: absolute;
  top: -20px;
  left: 10px;
  z-index: 1;
}

.maturity_level_5 {
  color: royalblue;
}
.maturity_level_4 {
  color: royalblue;
}
.maturity_level_3 {
  color: forestgreen;
}
.maturity_level_2 {
  color: forestgreen;
}
.maturity_level_1 {
  color: darkorange;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.filter-list li,
ul li {
  word-wrap: break-word;
  margin: 0;
}
